./practice/*
env 
venv

!output/lexicon.json

data/*
!data/liwc.csv
!data/ocean.csv
texts/*
output/*
models/*

results/*

notes/*

*.pyc
data/goodreads_reviews_dedup.json.gz
11_5_LIWC.ipynb
.DS_Store
